@media screen and (max-width: 992px) {
    .row {
        
        flex-wrap: wrap;

    }

    .col-2 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }

    .title {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 40px;
        padding: 10px;
    }

    header {
        min-width: calc(100% - 60px);
    }

    .content {
        min-width: calc(100% - 60px);
    } 

    .foot {
        flex-wrap: wrap;
        flex-direction: row;
    }

    #foot-img {
        width: 30%;
    }
    .volume {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .logo,
    .home-menu,
    .play-list,
    .install {
        display: none;
    }

    .hidden-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 8rem);
    }

    .hidden-bottom {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: calc(100vh - 8rem);
    }

    #little-home,
    #little-logo,
    #little-search,
    #little-library,
    #little-install,
    #little-user,
    .little-profile {
        display: block;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-2 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .title {
        display: flex;
        justify-content: center;
    }
}



