/* sidebar */

.top-content {
    height: calc(100vh - 8rem);
    background-color: #090F10;
}
.sidebar {
    padding: 1.8rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8rem);
    overflow: auto;
    /* debug */
    background-color: #000000;
    width: 250px;
}

.logo > h1 {
    padding-top: .25rem;
    padding-left: .5rem;
    font-size: 2rem;
}

.sidebar img+h1 {
    display: inline;
}

.spotify {
    filter: invert(100%);
    min-width: 3rem;
}

.logo {
    padding-bottom: 1rem;
    color: #eee;
}

.home-menu {
    padding: 1rem 0;
}

.home-menu > div > a > i {
    color: #A3A3A3;
    font-size: 1.5rem;
    padding: .5rem .5rem 0 0;
}

.home-menu > div > a > span {
    color: #A3A3A3;
}

.play {
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: #A3A3A3;
}

.plus {
    font-size: 2.5rem;
    color: #A3A3A3;
}

.crea {
    display: flex;
    border: 1px dashed black;
}

.crea > a > span {
    float: right;
    padding: .8rem 0 0 .5rem;
    color: #A3A3A3;
}

.play-name > a > li {
    padding: .8rem 0;
    font-size: .8rem;
    font-weight: 500;
    list-style: none;
    color: #A3A3A3;
}

.play-name:last-child {
    padding-bottom: 10rem;
}

.install {
    margin: auto 0;
    color: #A3A3A3;
}

.install > hr {
    margin: .5rem 0;
    width: 95%;
}

.install > a > i, span {
    color: #A3A3A3;
}


/* header */
header {
    position: fixed;
    justify-content: flex-end;
    /* debug */
    background-color: #141922;
    opacity: .8;
    height: 6rem;
    width: calc(100% - 250px);
}

header > button {
    margin: 1.8rem 0.5rem 1.8rem 1.5rem;
    width: 15rem;
    border-radius: 50px;
    background-color: transparent;
    color: #eee;
    border-color: #eee;
}

.content {
    /* debug */
    overflow: auto;
    width: calc(100% - 250px);
}

/* main */

main {
    background-color: #090F10;
    color: #A3A3A3;
}

.gen-list {
    padding-top: 7rem;
    justify-content: center;
    font-size: 0.8rem;
}

.gen-list>li {
    padding: 20px;
    list-style: none;
}

.songs {
    background-color: #090F10;
}

.title {
    padding: 2rem 0;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #eee;
}

.title > h3 {
    font-size: .8rem;
    color: #A3A3A3;
    padding-top: .5rem;
}

.col-2 > img {
    padding: 1rem;
}

.song-title{
    margin: 0 1rem;
    padding: 1rem 0;
    color: #eee;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

#stranger {
    margin-left: 2rem;
}

.song-subtitle {
    color: #A3A3A3;
    display: flex;
    justify-content: center;
    font-size: .8rem;
}

.round {
    border-radius: 50%;
}

/* footer */

footer {
    position: relative;
    background-color: #282828;
    height: 8rem;
    padding: 1rem;
}

.brano {
    justify-content: space-between;
    height: 5rem;
}

.foot {
    display: flex;
}

#foot-img {
    padding-top: .7rem;
}

#foot-name {
    font-size: .9rem;
}

.song-name {
    padding: 2rem 1rem;
    color: #eee;
}

.brano-name {
    color: #A3A3A3;
    font-size: .5rem;
}
.command-bar {
    display: flex;
    flex-direction: column;
}

.fa-heart,
.fa-folder {
    padding: 2.3rem .5rem;
    color: #A3A3A3;
}

.bar {
    width: 36rem;
    height: .5rem;
    margin-top: 1.2rem;
    background-color: #A3A3A3;
    border-radius: 4px;
}

.progress {
    display: block;
    width: 20%;
    height: 100%;
    background-color: #eee;
    border-radius: 4px;
    
}

.bar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 3rem; 
    font-size: 1.5rem;
    color: #eee;
}

.bar-icons > i {
    padding: 0 1.5rem;
}

.fa-circle-play {
    font-size: 2.5rem;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.3rem;
}

.volume > i {
    color: #A3A3A3;
    padding: 0 1rem;
}

.volume-bar {
    width: 10rem;
    height: .3rem;
    background-color: #A3A3A3;
    border-radius: 4px;
}

.time {
    position: absolute;
    top: 5.2rem;
    color: #eee;
    font-weight: 600;
    font-size: .8rem;
}

.start {
    left: 22rem;
}

.end {
    right: 32rem;
}