/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	/* debug */
	background-color: aqua;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* font weight */

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}